# SUPABASE
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua_chave_anon_publica_aqui

# CLOUDFLARE R2
R2_ACCOUNT_ID=seu_account_id_aqui
R2_ACCESS_KEY_ID=sua_access_key_aqui
R2_SECRET_ACCESS_KEY=sua_secret_key_privada_aqui
R2_BUCKET_NAME=nome_do_seu_bucket
R2_PUBLIC_URL=https://sua-url-publica.r2.dev