# Arquivo de variáveis de ambiente (contém chaves secretas)
.env
.env.local

# Pasta de dependências do Node.js
node_modules/

# Next.js build
.next/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
.vercel
._*